html {
  position: relative;
  min-height: 100%;
}
h1,
h2,
h3 {
  font-family: "museo-sans", "helvetica neue", "helvetica", "arial", "sans-serif";
  font-style: normal;
  font-weight: 100;
}
h4 {
  font-family: "adelle";
  font-style: italic;
  font-weight: 100;
}
.navbar .navbar-nav {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "museo-sans", "helvetica neue", "helvetica", "arial", "sans-serif";
}
#footer {
  margin-top: 50px;
  background-color: whiteSmoke;
  padding: 50px 0 20px 0;
  border-top: 1px solid #DDD;
}
#footer a {
  color: #333;
}
#footer .main-nav {
  margin-bottom: 50px;
}
#footer .copyright {
  font-size: 11px;
}
.home-header-view {
  overflow: hidden;
  position: relative;
  background-color: #222;
  min-height: 1035px;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #000000 0%, #222222 25%, #191919 50%, #222222 75%, #000000 100%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #000000), color-stop(25%, #222222), color-stop(50%, #191919), color-stop(75%, #222222), color-stop(100%, #000000), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #000000 0%, #222222 25%, #191919 50%, #222222 75%, #000000 100%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #000000 0%, #222222 25%, #191919 50%, #222222 75%, #000000 100%, #131313 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #000000 0%, #222222 25%, #191919 50%, #222222 75%, #000000 100%, #131313 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #000000 0%, #222222 25%, #191919 50%, #222222 75%, #000000 100%, #131313 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#131313', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.home-header-view svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  right: 0;
}
.home-header-view .navbar {
  background-color: transparent;
  margin: 0;
  border-bottom: none;
}
.home-header-view .jumbotron {
  background-color: transparent;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.home-header-view .jumbotron .logo {
  margin-bottom: 35px;
}
.home-header-view .jumbotron h1 {
  color: white;
  font-size: 35px;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.home-header-view .jumbotron .container {
  position: relative;
  z-index: 1000;
}
.newsflash {
  background-color: whiteSmoke;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #DDD;
}
.newsflash a {
  color: #333;
}
.home-view .container {
  padding-top: 75px;
  padding-bottom: 75px;
}
.trading-view .section {
  margin-bottom: 40px;
}
.trading-view .section .indent {
  margin-left: 20px;
}
.about-view .sidenav {
  margin-top: 100px;
}
.about-view .sidenav.affix {
  margin-top: 0;
}
.about-view .section {
  margin-bottom: 100px;
}
.about-view .manager {
  margin-bottom: 50px;
}
